<!-- app/views/chats/index.html.erb -->

<h1>Chat GPT</h1>

<%= form_with url: chats_path, method: :post do |f| %>
  <div>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>
  <div>
    <%= f.submit "Send" %>
  </div>
<% end %>

<!-- app/views/chats/index.html.erb -->

<h1>Chat GPT</h1>

<%= form_with url: chats_path, method: :post, data: { turbo_frame: 'message-form' } do |f| %>
  <div>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>
  <div>
    <%= f.submit "Send" %>
  </div>
<% end %>

<div id="response">
  <%= render 'response' if @response %>
</div>

<% end %>

